.sample-name {
    background-image: url("/images/pexels_about_background.jpg");
}

.our-story {
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: italic;
    background-color: rgba(0,0,0,.4);
    color: #ffffff;
    margin-bottom:0px;
}