.our-story {
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: italic;
    color: #000000;
}

.background-container {
    background-color: #8BA973;
    left: 10%;
    top: 10%;
    right: 10%;
    margin-left: -300px;
    margin-right: -300px;
}

.header-photo-container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 200px;
    font-style: italic;
    font-size: 100px;
    font-family: Georgia, serif;
}