.our-story {
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: italic;
    color: #000000;
}

.background-container {
    background-image: url("/images/pexels_about_background.jpg");
    position: relative;
    left: 10%;
    top: 10%;
    right: 10%;
    bottom: 10%;
    margin-left: -300px;
    margin-right: -300px;
}
