/* Home page */
#video {
    position: fixed;
    z-index: 0;
    top: 75px;
    overflow: hidden;
    height: fit-content;
    left: 0;
}

#videoMessage {
    position: relative;
    left: 0;
    right: 0;
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 20px;
    color: #FFF6EC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0,0,0,.4);
    padding: 80px;
    animation: fadeIn 7s;
    -webkit-animation: fadeIn 7s;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}