/* Home page */
#welcomeVideo {
    position: fixed;
    width: 100%;
    z-index: 0;
    top: 75px;
    left: 0;
}

.h1Tag {
    position: relative;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #FFF6EC;
    z-index: 1;
}

.welcome-content {
    position: relative;
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 20px;
    color: #FFF6EC;
    background-color: rgba(0,0,0,.4);
    padding: 80px;
    animation: fadeIn 7s;
    -webkit-animation: fadeIn 7s;
    z-index: 1;
}

/*fadeIn Animation*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
