#menuNavBar {
    background-color: #8BA973;
}

#stick {
    width: 100%;
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    margin-top: -15px;
    margin-bottom:5px;
}

h1 {
    color: #FFF6EC;
    font-family: 'Goudy Old Style';
}

#menuLi {
    color: #FFF6EC;
    font-family: Georgia;
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

#aLi {
    color: #FFF6EC;
}


#genCard {
    background-color: #FFF6EC;
    color: #4A9962;
}

.card {
    margin-bottom: 1rem;
}

#prodPrice {
    padding-top: 4px;
    position: absolute;
    right: 10px;
}


.form-group {
    display: flex;
    position: relative;
}

.anc {
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.anc{
    color: #4A9962;
    visibility: hidden;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
#ll {
    background: #287740;
    padding: 10px;
    text-align: center;
    color: #FFF6EC;
    line-height: 20px;
    text-decoration: none;
    font-family: Goudy Old Style;
    font-size: 24px;
}

* {
    outline: none;
}

#DropDiv {
    display: inline-flex;
    background-color: #FFF6EC;
    width: 100%;
    justify-content: end;
    align-content: center;
}

.submit {
    width: fit-content;
    display: inline;
    margin: 8px auto 3px 15px;
    background: #287740;
    color: #FFF6EC;
    border: none;
    height: 30px;
    align-self: end;
}

input {
    color: #287740;
    display: inline;
    margin: 8px -22px 3px 15px;
    height: fit-content;
    width: 37%;
    align-self: end;
}

#searchit {
    display: inline;
    margin: -2px auto 6px auto;
}

.clearbutton {
    background-color: #C42138;
}