html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #4A9962;
}

#mainNavBar {
    background-color: #FFF6EC;
}

.footer {
    background-color: #FFF6EC;
}

#cart {
    margin-right: 75px;
}

/* Make all text highlighting a cream color */
::selection, ::-moz-selection {
    background-color: #DFC197;
}

