@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="css/about.css">

<section class="background-container">
    &nbsp;
    <!--This div holds a container with the photo and Marcini's name text-->
    <div class="header-photo-container">
        <img src="/images/pexels_about_header.jpg" height="600" width="1600" class="rounded">
        <div class="bottom-left">Marcini's</div>
    </div>
    <!--This is the section holding the main information on the about page-->
    <section>
        <div class="container h-100 rounded" style="background-color: #FFF6EC">
            <!--This is the container that holds the body of our about page-->
            <div class="container our-story my-5">
                &nbsp;
                <!--This div section contains the about us story-->
                <div class="row justify-content-center">
                    <div class="col-4">
                        <p style="font-size:25px; text-decoration-line:underline; color:#8BA973">Who We Are</p>
                        <p style="color: #8BA973">
                            Alfredo Marcini was a simple man, but his cooking was anything but. Using recipes handed down through generations, Marcini perfected the authentic and bold flavors of his family and opened a small restaurant in Naples, Italy.
                            The success of his restaurant has now led to over 400 franchised restaurants spanning the globe. Although the scale is much larger, Marcini's prides itself on staying true to our initial small restaurant in Naples. At Marcinis
                            you will find the freshest ingredients and the most authentic Italian experience. Let us bring Naples to you!
                        </p>
                    </div>
                    <div class="col-4">
                        <img src="~/images/pexels_about_fettucine.jpg" height="100%" width="150%" />
                    </div>
                </div>
                &nbsp; <!--spacing buffer at end of story-->
                <!--This div section contains the social text and social hyperlinks-->
                <div>
                    <div class="row">
                        <div class="text-center">
                            <p style="font-size:25px; text-decoration-line:underline; color: #8BA973">Let's Get Social!</p>
                            <p style="color: #8BA973">Follow us on our social media platforms for more information, and to keep up to date with any offers or updates!</p>
                            <a href="https://www.instagram.com/marcinis.utsa/">
                                <img alt="Instagram" src="/images/ig.png" class="rounded" width="75" height="75">
                            </a>
                        </div>
                    </div>
                </div>
                &nbsp; <!--spacing buffer at end of social-->
                <!--This div section contains the embedded map-->
                <div class="row">
                    <div class="text-center">
                        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3469.0047750294884!2d-98.44498838399718!3d29.60354744621813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865c8a2d06a55555%3A0x8395f6d4ccf49f3d!2s2903%20N%20Loop%201604%20E%20Suite%20134%2C%20San%20Antonio%2C%20TX%2078259!5e0!3m2!1sen!2sus!4v1663228321112!5m2!1sen!2sus" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    &nbsp; <!--spacing buffer at end of main about page container-->
</section>