@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<head>
    <link rel="stylesheet" href="/css/home.css" type="text/css" />
</head>

<!-- Header Content -->
<header class="videoHeader">
    <div class="videoText">
        @if (Model.customer is not null)
        {
            <h1>Welcome to Marcini's, @Model.customer.FirstName</h1>
        }
        else
        {
            <h1>Welcome to Marcini's</h1>
        }
        <p>The world's most popular restaurant since 1998!</p>
        <p class="introMessage">
            Marcini’s is an Italian restaurant with exceptional food, kindhearted service, and affordable prices. We take your meal very seriously, and hope to make it the best experience possible. Sure, there are many Italian restaurants out there, but we believe that people make the place; and, our place also happens to make great food.
        </p>
    </div>
</header>

<video autoplay muted loop id="welcomeVideo">
        <source src="/video/WelcomeVideo.mp4" type="video/mp4" />
</video>