@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!--Welcome Video-->
<video autoplay muted loop id="welcomeVideo">
    <source src="/video/WelcomeVideo.mp4" type="video/mp4" />
</video>

<!-- HTML Code -->
<div class="welcome-content">
    <h1>Welcome</h1>
    <p>This is Alfredo Marcini's, the world most popular restaurant</p>
    <!--For test only-->
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet maximus.
        Suspendisse vel ex eget mauris efficitur finibus eu a enim. Aenean tellus neque, consectetur sit amet lacus a,
        hendrerit ornare urna. Fusce venenatis lorem vitae augue suscipit, eu tempor massa vulputate. Praesent iaculis
        velit libero, vel faucibus sem pulvinar vel. Curabitur viverra nisl dui, a venenatis felis pellentesque id.
        Donec non lacus diam.
    </p>
</div>