@page
@model Marcinis.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="/css/login.css" />
    <meta charset="UTF-8">
</head>

<div class="cont">

    <!-- sign part-->
    <form method="post">
        <div class="form sign-in">
            <div class="text-center">
                <img src="/images/Marcini's_Logo.png" style="width: 185px;" alt="logo">
            </div>
            <h2 class="HelloTitle">Benevenuto!</h2>
        
            <label>
                <span>Email</span>
                <input type="email" />
                <p><span asp-validation-for="customer.LoginCredentials.EmailAddress" class="text-danger"></span></p>
            </label>

            <label>
                <span>Password</span>
                <input type="password" />
                <p><span asp-validation-for="customer.LoginCredentials.Password" class="text-danger"></span></p>
            </label>

            <button asp-page-handler="Login" class="submit">Sign In</button>
        </div>
    </form>

    <!-- hidden part for sign up-->
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>New customer?</h2>
                <p>Sign up and discover great amount of Italian cuisine!</p>
            </div>
            <div class="img__text m--in">
                <h2>Coming back?</h2>
                <p>Come on! Just sign in. We've missed you!</p>
            </div>
            <div class="img__btn">
                <span class="m--up">Sign Up</span>
                <span class="m--in">Sign In</span>
            </div>
        </div>

        <div class="form sign-up">
            <h2>Time to start order &#127836</h2>
            <label>
                <span>Fisrt Name</span>
                <input type="text" />
            </label>

            <label>
                <span>Last Name</span>
                <input type="text" />
            </label>
            
            <label>
                <span>Email</span>
                <input type="email" />
            </label>

            <label>
                <span>Phone Number</span>
                <input type="text" />
            </label>
            
            <label>
                <span>Password</span>
                <input type="password" />
            </label>

            <button type="button" class="submit">Sign Up</button>
        </div>
    </div>

</div>

<script src="/js/login.js" type="text/javascript"></script>