@page
@model Marcinis.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="/css/login.css" />
    <meta charset="UTF-8">
</head>

<div class="cont">

    <!-- sign-in part-->
    <div class="form sign-in">
        <form method="post">
            <div class="text-center">
                <img src="/images/Marcini's_Logo.png" style="width: 185px;" alt="logo">
            </div>
            <h2 class="HelloTitle">Benevenuto!</h2>
        
            <label>
                <span>Email</span>
                <input type="email" asp-for="Customer.LoginCredentials.EmailAddress" />
                <p><span asp-validation-for="Customer.LoginCredentials.EmailAddress" class="text-danger"></span></p>
            </label>

            <label>
                <span>Password</span>
                <input type="password" asp-for="Customer.LoginCredentials.Password" />
                <p><span asp-validation-for="Customer.LoginCredentials.Password" class="text-danger"></span></p>
            </label>

            <button asp-page-handler="Login" class="submit">Sign In</button>
        </form>
    </div>

    <!-- hidden part for sign up-->
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h1>Sign in</h1>
            </div>
            <div class="img__text m--in">
                <h1>Register</h1>
            </div>
            <div class="img__btn">
                <span class="m--up">Sign Up</span>
                <span class="m--in">Sign In</span>
            </div>
        </div>

        <div style="margin-top: -15px;" class="form sign-up">
            <form method="post">
                <label style="margin-top: -15px">
                    <span>First Name</span>
                    <input type="text" asp-for="Customer.FirstName" />
                    <p style="margin-bottom: -8px;"><span asp-validation-for="Customer.FirstName" class="text-danger"></span></p>
                </label>

                <label>
                    <span>Last Name</span>
                    <input type="text" asp-for="Customer.LastName" />
                    <p style="margin-bottom: -8px;"><span asp-validation-for="Customer.LastName" class="text-danger"></span></p>
                </label>
            
                <label>
                    <span>Email</span>
                    <input type="email" asp-for="Customer.LoginCredentials.EmailAddress" />
                    <p style="margin-bottom: -8px;"><span asp-validation-for="Customer.LoginCredentials.EmailAddress" class="text-danger"></span></p>
                </label>

                <label>
                    <span>Password</span>
                    <input type="password" asp-for="Customer.LoginCredentials.Password" />
                    <p style="margin-bottom: -8px;"><span asp-validation-for="Customer.LoginCredentials.Password" class="text-danger"></span></p>
                </label>

                <label>
                    <span>Phone Number</span>
                    <input type="text" asp-for="Customer.PhoneNumber" />
                    <p style="margin-bottom: -8px;"><span asp-validation-for="Customer.PhoneNumber" class="text-danger"></span></p>
                </label>

                <button asp-page-handler="Register" class="submit register" style="position:sticky; bottom:0;">Sign Up</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/login.js" type="text/javascript"></script>