@page
@model Order
@{
    ViewData["Title"] = "Order";
}

<head>
    <link rel="stylesheet" href="/css/order.css"/>
</head>

<nav id="menuNavBar" class="navbar navbar-expand-sm navbar-toggleable-sm border box-shadow mb-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#appetizers">Appetizers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#pasta">Pasta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#pizza">Pizza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#Desert">Desert</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<h1 id="appetizers">Appetizers</h1>




