@page
@model Marcinis.Pages.OrderConfirmationModel
@{
}

<link rel="stylesheet" href="css/orderconfirmation.css">

<section class="body">
    @if (Model.Customer != null)
    {
        <h1 class="header">Grazie @Model.Customer.FirstName!</h1>
    }
    else {
        <h1 class="text-center">Grazie!</h1>
    }

    <hr>
    &nbsp;

    <div>
        <p class="tab">Your order will be ready for pickup at: [Insert Time Here]</p>
    </div>

    <div>
        <p class="tab">Your order will be available at the following location:</p>
    </div>

    <div>
        <p class="tab"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3469.0047750294884!2d-98.44498838399718!3d29.60354744621813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865c8a2d06a55555%3A0x8395f6d4ccf49f3d!2s2903%20N%20Loop%201604%20E%20Suite%20134%2C%20San%20Antonio%2C%20TX%2078259!5e0!3m2!1sen!2sus!4v1663228321112!5m2!1sen!2sus" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    </div>

    <div>
        <h2 class="header">Order Details</h2>

        <hr>
        &nbsp;


        <div><!--this will hold all of the order details and price and at bottom will have sub tax and total-->
            <ul><!--This will creat a bulleted list of the items sold and their corresponding price-->
                <li>This is an example</li>
                <li>So is this</li>
            </ul>
        </div>
    </div>

    

</section>