@page
@model Order
@{
    ViewData["Title"] = "Order";
}
<h1>@ViewData["Title"]</h1>

<p>This will be the page where the online ordering will happen. This is where the main functionality will be.</p>
<p> This line changed by Jason</p>
<p> This line changed by Brian</p>
<p> This line changed by Daniel</p>
<p> This line changed by Joe</p>